

<div class="row">
    <div class="col-md-8 offset-md-2 bg-light rounded-3 p-5">
        <form method="post" action="/home/submitpost">
            <input type="text" class="form-control" placeholder="Title" name="title" />
            <br />
            <textarea name="BlogText" placeholder="Put the stuff here..." class="form-control" rows="16"></textarea>
            <br />
            <button class="btn btn-primary col-md-12 w-100">Submit</button>
        </form>
    </div>
</div>
