@model AllBlogPostsViewModel

<div class="container">
    <div class="row">
        <div class="col-md-8">
            @foreach (var post in Model.BlogPosts)
            {
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">
                            <a style="text-decoration:none;" href="/home/viewblog?id=@post.Id">@post.Title</a>
                        </h2>
                        <p class="card-text">@post.ShortenedBlogText</p>
                        <a href="/home/viewblog?id=@post.Id" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-black muted">
                        Posted on @post.DateSubmitted.ToLongDateString() by Estee Green
                    </div>
                </div>
            }

            <ul class="pagination justify-content-center mb-4">
                @if (Model.Older)
                {
                    <li class="page-item">
                        <a class="page-link" href="/home/index?page=@(Model.pageNum + 1)">&larr; Older</a>
                    </li>
                }
                @if (Model.Newer)
                {
                    <li class="page-item">
                        <a class="page-link" href="/home/index?page=@(Model.pageNum - 1)">Newer &rarr;</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>